
<div class="main">
		<h5 class= "headline-xlarge">Chat with <%= @user.name %></h3>
	
		

		<div class ="headline-large">Let's Work Together</div>

		
		<div>
			<% Post.all.each do |post| %>
			<b><%=post.user.name%>:</b>
			
			<div class="headline-medium bm-medium"><%= post.body %></div>

			<% end %>
		</div>
    <br/>
    <br/>
		<form action="<%= posts_url %>" method="POST">
			<textarea name="post[body]"></textarea>
			<input type="hidden" name="post[author_id]" value= <%= current_user.id %>>
			<input type="hidden" name="post[recipient_id]" value="<%= params[:id] %>">
			<p style="text-align:right"><input type="submit" value="Send" class="button"></p>
		</form>
</div>

