<!DOCTYPE html>
<html ng-app="fair">
<head>
  <title>Smurf</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="MainCtrl">
  <header class="navigation">
    <div class="navigation-wrapper">
      <a href="javascript:void(0)" class="logo">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="">
      </a>
      <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
      <div class="nav">
        <ul id="navigation-menu">
          <li class="nav-link"><a href="javascript:void(0)">Home</a></li>
          <li class="nav-link"><a href="javascript:void(0)">Needs</a></li>
          <li class="nav-link"><a href="javascript:void(0)">Wants</a></li>
          <li class="nav-link"><a href="javascript:void(0)">Contact</a></li>
          <% if current_user %>
            <li class="nav-link"> <%= link_to "Logout", destroy_user_session_path, method: 'delete'%></li>
          <% else %>
            <li><%= link_to "Login", user_omniauth_authorize_path(:facebook) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </header>
 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>

  <%= yield %>

</body>
</html>
